/* start nav */

body{
    overflow-x: hidden;
}

.navbar {
    background-color: #715A5A;
    width: 95vw;
    height: 90px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    margin-top: 40px;
    border-radius: 10px;
}

.title-project {
    color: white;
    user-select: none;
}

.btn-add-new-todo {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    font-weight: 500;
    user-select: none;
}

.icon-add-todo {
    font-size: 20px;
}

.btn-add-new-todo:hover {
    color: #715A5A;
    background-color: white;
}

/* end nav */

/* start todos */

.container {
    width: 95vw;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 50px;
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 50px;
}


.todo-card {
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #715A5A;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.container-todos-texts {
    width: 70%;
    white-space: normal;
    overflow-wrap: break-word;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    /* background-color: blue; */
}

.todo-title {
    color: #715A5A;
    font-size: 25px;
    margin-top: 20px;
}

.todo-desc {
    color: rgb(48, 48, 48);
    font-size: 18px;
}

.todo-priority {
    color: green;
}

.container-todos-icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.todos-icons {
    font-size: 20px;
    color: #715A5A;
    cursor: pointer;
}

/* end todos */

/* start add todos modal */

.container-modal {
    background-color: #715A5A;
    width: 700px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    height: auto;
    padding: 30px;
    row-gap: 10px;
    box-shadow: 0px 0px 0.1px 3px #715A5A;
    /* border: 1px solid #715A5A; */
    transition: 0.5s;
    border: 1px solid white;
}

.open-modal {
    transform: translate(-50%, -50%) translateX(0%);
}

.close-modal {
    transform: translate(-50%, -50%) translateX(150%);
}

.close-and-title {
    display: flex;
    align-items: center;
}

.icon-close-modal {
    cursor: pointer;
    position: absolute;
    left: 20px;
    font-size: 22px;
    color: white;
}

.title-add-new-todo-mdoal {
    color: white;
    font-size: 30px;
}

.inputs-add-todo {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline: none;
    font-size: 17px;
    border: 2px solid #715A5A;
    color: #715A5A;
}

.top{
    margin-top: 50px;
}

.btn-add-new-todo-in-modal {
    width: 100px;
    padding: 5px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #715A5A;
    font-weight: 600;
    margin-top: 30px;
}

.title-Priority {
    margin-top: 30px;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.container-Priority-levels {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-top: 20px;
}

.gr {
    color: green;
    background-color: rgb(227, 255, 227);
}

.or {
    color: orange;
    background-color: rgb(252, 228, 219);
}

.re {
    color: red;
    background-color: rgb(255, 223, 223);
}

.btn-Priority-levels {
    border: none;
    border-radius: 5px;
    padding: 7px;
    width: 70px;
    cursor: pointer;
}

.gr-2 {
    color: green;
}

.or-2 {
    color: orange;
}

.re-2 {
    color: red;
}